@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Ta palette Beige & Rouge "Tome" */
  --color-bg: #F8F4EC;
  --color-bg-card: #FFFFFF;
  --color-text: #1A1A1A;
  --color-primary: #A72608;
  --color-muted: #E8E3D9;
  --color-subtle: #666666;
  --color-border: #D6D2C4;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Utilitaires */
.card-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #D6D2C4;
  border-radius: 20px;
}